In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yerofey Pavlovich,RU,2022-02-05 19:53:44,53.9667,121.9667,-7.83,95,98,3.78
1,1,Ushuaia,AR,2022-02-05 19:53:45,-54.8000,-68.3000,64.02,55,75,24.16
2,2,Chokurdakh,RU,2022-02-05 19:49:38,70.6333,147.9167,-30.41,100,100,1.99
3,3,Gat,IL,2022-02-05 19:50:44,31.6100,34.7642,53.40,100,74,7.61
4,4,Mahebourg,MU,2022-02-05 19:50:05,-20.4081,57.7000,80.26,89,75,21.85

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0)for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False, max_intensity = 300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False, max_intensity = 300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add the minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Mahebourg,MU,2022-02-05 19:50:05,-20.4081,57.7000,80.26,89,75,21.85
6,6,Nabire,ID,2022-02-05 19:53:46,-3.3667,135.4833,75.04,93,99,2.89
11,11,Atuona,PF,2022-02-05 19:49:34,-9.8000,-139.0333,78.96,76,6,22.30
13,13,Port-Gentil,GA,2022-02-05 19:53:48,-0.7193,8.7815,79.70,80,13,11.07
21,21,Vaini,TO,2022-02-05 19:53:52,-21.2000,-175.2000,77.16,94,75,10.36
22,22,Upington,ZA,2022-02-05 19:53:52,-28.4478,21.2561,82.78,42,8,2.30
23,23,Hilo,US,2022-02-05 19:48:59,19.7297,-155.0900,77.11,74,0,0.00
24,24,Rikitea,PF,2022-02-05 19:53:53,-23.1203,-134.9692,78.93,72,99,11.18
25,25,Caucaia,BR,2022-02-05 19:53:53,-3.7361,-38.6531,84.15,71,20,11.50
27,27,Cayenne,GF,2022-02-05 19:53:55,4.9333,-52.3333,84.24,81,75,5.99

In [11]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [12]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4     Mahebourg      MU     80.26 -20.4081   57.7000
6        Nabire      ID     75.04  -3.3667  135.4833
11       Atuona      PF     78.96  -9.8000 -139.0333
13  Port-Gentil      GA     79.70  -0.7193    8.7815
21        Vaini      TO     77.16 -21.2000 -175.2000
22     Upington      ZA     82.78 -28.4478   21.2561
23         Hilo      US     77.11  19.7297 -155.0900
24      Rikitea      PF     78.93 -23.1203 -134.9692
25      Caucaia      BR     84.15  -3.7361  -38.6531
27      Cayenne      GF     84.24   4.9333  -52.3333

In [13]:
# Set parameters to search for a hotel.
params = {"radius":5000,
          "type":"lodging",
          "key":g_key}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Mahebourg,MU,80.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Nabire,ID,75.04,-3.3667,135.4833,Hotel Nusantara Nabire
11,Atuona,PF,78.96,-9.8000,-139.0333,Villa Enata
13,Port-Gentil,GA,79.70,-0.7193,8.7815,Fengshui Residence
21,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
22,Upington,ZA,82.78,-28.4478,21.2561,River Place Manor
23,Hilo,US,77.11,19.7297,-155.0900,Hilo Hawaiian Hotel
24,Rikitea,PF,78.93,-23.1203,-134.9692,People ThankYou
25,Caucaia,BR,84.15,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
27,Cayenne,GF,84.24,4.9333,-52.3333,Hôtel Le Dronmi

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))